
html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: center;
    position: relative;
    bottom: 205px;
    
}

p {
    position:relative;
    left:100px;
    float:left;
    border-right:100px transparent ;
    padding-right:50px;
    padding: 6px;
    width: 60%;
    

}

header {
    color: #000000;
    text-align: center;
   
}

.pony1 {
    float:right;
    width:150px

}

footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:90px;
    background-color: #e7e7e7;
    overflow: hidden;
}

nav ul li {
    float: bottom;
}

nav li a {
    display: block;
    color:#986EAD;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(211, 211, 212);
}

nav li a.active {
    background-color: rgb(199, 199, 199);
}




