* {
    padding: 0p;
    margin: 0px;
    box-sizing: border-box;
    border: black 0px solid;
}


html, body {
    height: 100%;
    padding: 0;
    background-color: #ffffff;  
    
    color: #000000;
    font-family: monospace;
    font-size:large;

}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


header {
    color: #000000;
    text-align: center;
}
/*index*/
.foto0{
   
width:300px;
height:250px;   
}
#foto0 {
width:300px;
height:250px;
margin: 30px;
position: absolute;
left: 450px;
bottom:393px;
}
/*hoofd*/
.foto {
   width: 200px;
   height:180px;
   float:right;
   margin:10px;

}
 #tekst{
    margin:100px;
    padding-left: 45px ;
    padding-right: 35px;

 }

 #t {
     background-color: rgb(210,159,226,255);
 }

 #a {
     background-color: #f9c872;
}

#f { 
    background-color: #fdf2b2;
}

#d{
    background-color: #a3def6;
}

#p { 
    background-color:#f2afd4 ;
}

#r { 
    background-color:#d2d7dc ; 

}

#spike{
    background-color: #51c456 ;
}

/*bij*/
 #foto2 {
width:300px;
float:right;
padding-right: 20px;
 }

 .tekst2 {
    padding-left: 145px ;
    padding-right: 35px;

 }
 
 /*equestria*/
#background{
    background-image: url("afbeeldingen/map\ .png") ;
    background-attachment: center fixed;
    padding:20px;
}

#tekst3 {
    background-color: white;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(154, 84, 219);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* navigatiebalk */

#menu{
    border-radius: 10px;
    position: relative;
    right:30px;
}

nav {
    float: left;
}

nav ul {
    list-style-type: none;
    width:145px;
    background-color: #e7e7e7;
    overflow: hidden;
   
    

}

nav ul li {
    float: bottom;
   
    
}

nav li a {
    display: block;
    color:#000000;
    text-align: center;
    padding: 10px 5px;
}

nav li a:hover {
    background-color: rgb(211, 211, 212);
    
}

nav li a.active {
    background-color: rgb(199, 199, 199);
   

}




